server {
   listen 06;
   server_name ${URL};

   root /usr/share/nginx/html;
   index index.html index.htm;

   location / {
	try_files $uri $uri/ =404;
   }

   # Optional: Log
   access_log /var/log/nginx/access.log;
   error_log /var/log/nginx/error.log;
}
